
.image-container {
    width: 580px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    border: 2px solid #ccc; /* Add a border for visualization */
    overflow: hidden; /* Hide overflowing content */
    background-color: black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.image-container img {
    max-width: 50%; /* Limit image to container width */
    height: auto; /* Maintain aspect ratio */
    display: block;
}


.info-container {
    display: flex;
    justify-content: space-between; 
    padding: 90px;
    padding-left: 8%;
}
.left-column {
    flex: 1; 
    text-align: left;
    
}

.quote {
    font-size: 36px; /* Adjust the font size */
    font-weight: bold; /* Bold text */
    font-style: italic; /* Italicize the text */
    color: #333; /* Text color */
    text-align: center; /* Center-align the text */
    margin: 20px 0; /* Margin for spacing */
  }
  