.container {
    position: center;
}

.button-container {
    position: absolute;
    top: 40px;
    right: 100px;
    color: white; 
    z-index: 1; 
}

.image-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    padding-right: 43%; 
    color: white;
    margin-top: 100px;
    background-color: black;
    padding-left: 40%;
    padding-top: 40px;
    padding-bottom: 40px;
    
}


.image-container img {
    max-width: 300%; 
    height: auto;
    margin-bottom: 10px;
}

.image-container h2,
.image-container p {
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-between; 
    padding: 90px;
    padding-left: 20%;
}
.left-column {
    flex: 1; 
    text-align: left;
    
}

.right-column {
    flex: 1; 
    text-align: left; 
}

.centered-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; 
}

.centered-iframe iframe {
    max-width: 100%;
    max-height: 200%;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the top margin */
}

.team-members {
    display: flex;
    justify-content: left;
    gap: 80px; /* Adjust the gap between team members */
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    width: 150px; /* Adjust the width */
    height: 150px; /* Adjust the height */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Hides the image overflow */
    margin-bottom: 10px; /* Adjust margin between profile containers */
}

.profile-container img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Scales the image while preserving aspect ratio */
}