/* Base styles for h2 */
html {
    scroll-behavior: smooth;
}
h2 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

/* Ensure that the section covers the full viewport */
.full-screen-section {
    height: 100vh;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        url('../images/PB1.jpg'); /* Update the path to your image */
    background-size: 
        3px 3px,  /* Gridline spacing */
        3px 3px,  /* Gridline spacing */
        cover;      /* Cover the entire section with the background image */
    background-position: 
        center, 
        center, 
        center; /* Center the gridlines and the image */
    background-repeat: 
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        no-repeat;/* Background image should not repeat */
    background-attachment: fixed; /* Parallax effect */
    position: relative;
    z-index: 1; /* Ensure this section is layered correctly */
}
.full2-screen-section {
    height: 50vh;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        url('../images/bg2.jpg'); /* Update the path to your image */
    background-size: 
        3px 3px,  /* Gridline spacing */
        3px 3px,  /* Gridline spacing */
        cover;      /* Cover the entire section with the background image */
    background-position: 
        center, 
        center, 
        center; /* Center the gridlines and the image */
    background-repeat: 
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        no-repeat;/* Background image should not repeat */
    background-attachment: fixed; /* Parallax effect */
    position: relative;
    z-index: 1; /* Ensure this section is layered correctly */
}
.full3-screen-section {
    height: 50vh;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        url('../images/bg3.jpg'); /* Update the path to your image */
    background-size: 
        3px 3px,  /* Gridline spacing */
        3px 3px,  /* Gridline spacing */
        cover;      /* Cover the entire section with the background image */
    background-position: 
        center, 
        center, 
        center; /* Center the gridlines and the image */
    background-repeat: 
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        repeat,   /* Ensure gridlines repeat to cover the entire image */
        no-repeat;/* Background image should not repeat */
    background-attachment: fixed; /* Parallax effect */
    position: relative;
    z-index: 1; /* Ensure this section is layered correctly */
}

/* Info container styling for centering content */
.info-container {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2; /* Ensure the content is above the background */
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center items */
    
}

.image-container {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}



/* Overlapping second section */
.content-section {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Layer it above the full-screen-section */
    position: relative;
}
.aboutcontent-section {
    text-align: center; /* Center text within the section */
    padding: 20px;
}

.content-container {
    max-width: 800px; /* Limit the width of the content */
    margin: 0 auto; /* Center the content container */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left; /* Center the text of the paragraphs */
}


/* Mobile responsiveness adjustments */
@media (max-width: 768px) {
    .full-screen-section {
        background-position: top center;
    }
}

/* Styles for smaller screens */
@media (min-width: 1024px) {
    .menu {
        display: flex;
        gap: 20px;
    }
    .menu-icon {
        display: none;
    }
}

/* Adjustments for heading font size */
@media (max-width: 768px) {
    h2 {
        font-size: 7vw;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 10vw;
    }
}


/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

/* Base styles for the menu and container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    position: relative;
}

/* Menu icon styling */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

/* Circle with initials */
.circle {
    width: 85px;
    height: 85px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initials {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* Layout styles */
.info-container {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    display: flex;
    max-width: 1600px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
}

.iframe-container {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.infomain-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.left-column, .right-column {
    flex: 1;
    max-width: 900px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    margin: 10px;
}

/* Image and iframe adjustments */
.product-imageCenter, .product-image, .product-imagenoborder {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    margin: 100px;
}

iframe {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 450px;
}

/* Team members layout */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    flex: 1 1 150px;
    text-align: center;
    margin: 10px;
}

.profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.content-section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 3;
}

/* Styling for the title */
.content-section h2 {
    font-size: 68px;
    margin-bottom: 40px; /* Add some space between the title and the gallery */
    text-align: center;
}
.aboutcontent-section h2 {
    font-size: 68px;
    margin-bottom: 40px; /* Add some space between the title and the gallery */
    text-align: center;
}

/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    grid-gap: 20px; /* Space between the images */
    justify-items: center; /* Center the items horizontally */
}

/* Placing Project 3 under Project 1, and Project 4 under Project 2 */
.gallery-item:nth-child(3) {
    grid-column: 1; /* Place Project 3 in the first column under Project 1 */
}

.gallery-item:nth-child(4) {
    grid-column: 2; /* Place Project 4 in the second column under Project 2 */
}

.gallery-item {
    position: relative;
    width: 482px;
    height: 293px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 150%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}


/* Responsive styles */
@media (max-width: 768px) {
    .content-section {
        height: 230vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3; /* Layer it above the full-screen-section */
        position: relative;
    }
    .left-column, .right-column {
        flex: 1 1 100%;
        text-align: left;
        line-height: 1.2;
    }
    .gallery-item .overlay {
        font-size: 150%;
    }

    /* Adjusting the gallery to a single column */
    .gallery {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout */
        justify-items: center; /* Center the items horizontally */
        align-items: center; /* Center the items vertically */
        margin: 0 auto; /* Center the gallery itself */
        grid-gap: 20px; /* Space between the items */
    }
    .gallery-item:nth-child(4) {
        grid-column: 1; /* Place Project 4 in the second column under Project 2 */
    }

    .gallery-item {
        width: 80%; /* Adjust width for mobile screens */
        height: auto;
        margin: 0 auto; /* Center each item */
    }

    /* Placing items in the correct order */
    .gallery-item:nth-child(1) {
        grid-row: 1;
    }

    .gallery-item:nth-child(2) {
        grid-row: 2;
    }
  
    .gallery-item:nth-child(3) {
        grid-row: 3;
    }
    .gallery-item:nth-child(4) {
        grid-row: 4;
    }
    .gallery-item:nth-child(5) {
        grid-row: 5;
    }
    .gallery-item:nth-child(6) {
        grid-row: 6;
    }

    .menu-icon {
        font-size: 24px;
    }

    .circle {
        width: 85px;
        height: 85px;
        top: 10px;
        right: 10px;
    }

    .initials {
        font-size: 20px;
    }

    .info-container {
        padding: 10px;
    }

    .infomain-container {
        padding: 10px;
    }

    .section {
        margin: 20px;
    }

    .product-imageCenter, .product-image, .product-imagenoborder {
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .gallery-item .overlay {
        font-size: 150%;
    }

    /* Adjusting the gallery to a single column */
    .gallery {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout */
        justify-items: center; /* Center the items horizontally */
        align-items: center; /* Center the items vertically */
        margin: 0 auto; /* Center the gallery itself */
        grid-gap: 20px; /* Space between the items */
    }
    .gallery-item:nth-child(4) {
        grid-column: 1; /* Place Project 4 in the second column under Project 2 */
    }

    .gallery-item {
        width: 80%; /* Adjust width for mobile screens */
        height: auto;
        margin: 0 auto; /* Center each item */
    }

    /* Placing items in the correct order */
    .gallery-item:nth-child(1) {
        grid-row: 1;
    }

    .gallery-item:nth-child(2) {
        grid-row: 2;
    }
  
    .gallery-item:nth-child(3) {
        grid-row: 3;
    }
    .gallery-item:nth-child(4) {
        grid-row: 4;
    }
    .gallery-item:nth-child(5) {
        grid-row: 5;
    }
    .gallery-item:nth-child(6) {
        grid-row: 6;
    }

    .sidebar a {
        font-size: 14px;
    }

    .menu-icon {
        font-size: 20px;
    }

    .circle {
        width: 85px;
        height: 85px;
        top: 5px;
        right: 5px;
    }

    .initials {
        font-size: 30px;
    }

    .info-container {
        padding: 5px;
    }

    .infomain-container {
        padding: 5px;
    }

    .section {
        margin: 10px;
    }

    .left-column, .right-column {
        flex: 1 1 100%;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    h1, h2, h5, p {
        text-align: center;
    }

    .team-member {
        flex: 1 1 100%;
        margin: 5px 0;
    }
    .content-section {
        height: 170vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3; /* Layer it above the full-screen-section */
        position: relative;
    }
}


