/* Base styles for h2 */
h2 {
    font-size: 48px; /* Adjust font size relative to viewport width */
    margin: 0;
    padding: 0;
}
.menu {
    display: none;
    justify-content: space-between; /* Space between menu items */
    align-items: center;
    width: 50%; /* Adjust width to control spacing between items */
    margin: 0 auto; 
}

/* Styles for smaller screens */
@media (min-width: 1024px) {
    .menu {
        display: flex;
        gap: 20px; /* Space between menu items */
    }
    .menu-icon {
        display: none; /* Hide the menu icon on larger screens */
    }
}
@media (max-width: 768px) {
    h2 {
        font-size: 7vw; /* Increase size for tablets and small screens */
    }
}

/* Styles for very small screens */
@media (max-width: 480px) {
    h2 {
        font-size: 10vw; /* Adjust size for mobile screens */
    }
}

/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    
}


/* Base styles for the menu and container */
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 30vh;           /* Make the container take up full viewport height (optional) */
    position: relative;
}

/* Menu icon styling */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 2; /* Ensure menu icon is above sidebar */
}

/* Circle with initials */
.circle {
    width: 85px;              /* Circle diameter */
    height: 85px;             /* Circle diameter */
    background-color: black;
    border-radius: 50%;       /* Makes it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
}


.initials {
    color: white;
    font-size: 40px; /* Adjust as needed */
    font-weight: bold;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* Layout styles */
.info-container {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex;
    max-width: 1600px;
    justify-content: center; /* Center columns horizontally */
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
    padding: 5px;
    box-sizing: border-box; /* Include padding in the element's total width */
}
.iframe-container {
    
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.infomain-container {
    
    display: flex;
    max-width: auto;
    justify-content: center; /* Center columns horizontally */
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
    
    box-sizing: border-box; /* Include padding in the element's total width */
}


.left-column, .right-column {
    flex: 1;
    max-width: 900px; /* Limit the maximum width of columns */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the element's total width */
    text-align: left; /* Align text to the left */
    margin: 10px; /* Add margin around columns */
}

/* Image and iframe adjustments */
.product-imageCenter, .product-image, .product-imagenoborder {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
.section{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    margin:100px;
}

iframe {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width:800px;
    height:450px;
     
}

/* Team members layout */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    flex: 1 1 150px;
    text-align: center;
    margin: 10px;
}

.profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsive styles */
@media (max-width: 768px) {
    .left-column, .right-column {
        flex: 1 1 100%; /* Stack columns vertically on smaller screens */
        text-align: left;
        line-height: 1.2;
    }

    .menu-icon {
        font-size: 24px;
    }

    .circle {
        width: 85px; /* Adjust size for smaller screens */
        height: 85px;
        top: 10px; /* Adjust top position for smaller screens */
        right: 10px; /* Adjust right position for smaller screens */
    }
    
    .initials {
        font-size: 20px;
    }

    .info-container {
        padding: 10px;
    }
    .infomain-container {
        padding: 10px;
    }
    .section {
        
        margin:20px;
    }
    
    .product-imageCenter, .product-image, .product-imagenoborder {
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .sidebar a {
        font-size: 14px;
    }

    .menu-icon {
        font-size: 20px;
    }

    .circle {
        width: 85px;            /* Circle diameter */
        height: 85px;  
        top: 5px; /* Adjust top position for mobile screens */
        right: 5px; /* Adjust right position for mobile screens */
    }

    .initials {
        font-size: 30px;
    }

    .info-container {
        padding: 5px;
    }
    .infomain-container {
        padding: 5px;
    }
    .section {
        
        margin:10px;
    }

    .left-column, .right-column {
        flex: 1 1 100%; /* Stack columns vertically on very small screens */
    }

    iframe {
        width: 100%;
        height: 250px;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h5 {
        text-align: center;
    }
    p{
        text-align: center;
    }

    .team-member {
        flex: 1 1 100%;
        margin: 5px 0;
    }
}
 /* Loading Screen */
 .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 9999;
}

/* Skeleton Loader Styling */
.skeleton-loader {
    width: 500px;
}

.skeleton-header {
    width: 100%;
    height: 60px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 30px;
    animation: loadingAnimation 1.5s infinite;
}

.skeleton-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skeleton-paragraph {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 10px;
    animation: loadingAnimation 1.5s infinite;
}

/* Animation */
@keyframes loadingAnimation {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

/* Main content styles */
.main-content {
    visibility: hidden;
}
.article-link {
    display: inline-block;
    text-align: left;
    text-decoration: underline;
    font-weight: normal;
   
    font-size:19px ;
}
/* Styling for the quote section */
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
    background-color: #f4f4f4; /* Light background to highlight the quote */
    padding: 20px;
    margin: 40px 0; /* Space above and below the quote */
}

/* Styling for the quote text */
.quote-container blockquote {
    font-style: italic; /* Italic for emphasis */
    font-size: 30px; /* Adjust font size as needed */
    color: #333; /* Dark text color for readability */
    text-align: center;
    margin: 0; /* Remove default blockquote margin */
    padding: 0;
    max-width: 800px; /* Optional: limit the width for readability */
    line-height: 1.5;
}
/* Contact Section Styles */
.contact-section {
    padding: 50px 0;
    background-color: #f9f9f9; /* Light background */
    text-align: center;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #000000;
    outline: none;
}

.send-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #000000;
}

.response-message {
    color: #000000;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}


