/* Menu Icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the icon stays on top */
}

/* Button Container */
.button-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 999; /* Ensure it appears on top of other content */
}

.button-container a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: block; /* Stack buttons vertically */
}

/* Responsive Menu */
@media (min-width: 768px) {
    .menu-icon {
        display: none; /* Hide menu icon on larger screens */
    }

    .button-container {
        display: block; /* Show buttons by default on larger screens */
        position: static; /* Remove fixed position */
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    .button-container a {
        display: inline-block; /* Arrange buttons horizontally */
        margin: 0 15px;
    }
}
