.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    overflow: hidden;
    pointer-events: none;
}

.popup-content {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    overflow-y: auto; /* Enable vertical scrolling */
    pointer-events: auto; /* Re-enable mouse events for the content */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
}
.popup-content::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}

.popup-text {
    text-align: center;
    overflow: auto;
    overflow: hidden;
}

.image-container {
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding-left: 90px;
}

.image-container img {
    max-width: 240px; /* Adjust as needed */
    max-height: 700px; /* Adjust as needed */
    
}
.image-bang img{
    max-width: 80%; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}


.oval-button {
    border: 2px solid #333;
    border-radius: 20px; /* Adjust the value to change the oval shape */
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    
  }
  
  .oval-button:hover {
    background-color: #333;
    color: white;
  }