@font-face {
    font-family: 'AvenirNextCyr1';
    src: url('/fonts/AvenirNextCyr-Light.woff2') format('woff2');
    font-display: swap;
    
}

@font-face {
    font-family: 'AvenirNextCyr2';
    src: url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2');
    font-display: swap;
    
}
@font-face{
    font-family: 'Tiempo';
    src: url('/fonts/tiempo.otf') format('otf');
}

html {
    scroll-behavior: initial;
    overflow: hidden; /* Prevent horizontal scrolling */
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

body {
    font-family: 'AvenirNextCyr1'; /* Apply the custom font */
    font-size: 16px;
    
    background: #ffffff;
    color: #000000;
}

h1{
    font-family: 'tiempo';
}
h2 {
    font-family: 'AvenirNextCyr2';
    font-weight: 700;
    line-height: 85%;
    padding: 25px;
    margin: 0;
}

h2 span {
    display: block;
}

h3 {
    font-size: 30px;
    color: #333;
}



.container {
    width: 100%;
    margin: auto;
}

section {
    padding: 50px 0;
}

.col {
    width: 50%;
}

#vertical {
    height: 200vh;
    width: 100vw;
}

.vertical__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vertical__content .col_left {
    height: 100%;
}

.vertical__content .col.col_right {
    width: 100%;
}

.vertical__item:not(:last-child) {
    margin-bottom: 240px;
}

#horizontal {
    overflow: hidden;
    padding: 100px 0;
}

.horizontal__content {
    display: flex;
}

.horizontal__item {
    border: 1px solid #efefef;
    padding: 100px 20px;
    text-align: center;
}

.horizontal__item:not(:last-child) {
    margin-right: 50px;
}

.horizontal__num {
    font-size: 100px;
    font-weight: 900;
    font-stretch: expanded;
    color: #000000;
}

.horizontal__num2 {
    font-size: 100px;
    font-weight: 900;
    font-stretch: expanded;
    color: transparent; /* Make the text color transparent */
    -webkit-text-stroke: 3px black; /* Add a black stroke around the text */
    text-stroke: 3px black; /* Standard syntax for text stroke */
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* TV */
.box {
    position: relative;
    top: 100px;
    width: 30%;
    margin: auto;
    border: none;
}

.box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure the image is above the effect and video */
}

video {
    position: absolute;
    top: 6%; /* Adjust the top position to fit within the TV screen */
    left: 1%; /* Adjust the left position to fit within the TV screen */
    width: 87%; /* Adjust the width to fit the TV screen */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure the video is behind the TV image */
}

/* Additional CSS for the TV overlay effect */
.box::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 15%;
    bottom: 40%;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 
    60% 60%/3000px 3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%)
    60% 60%/3000px 3000px;
    background-blend-mode: difference;
    animation: tv-nosignal .2s infinite alternate;
    z-index: 1; /* Ensure the effect is behind the image */
}

.box .tv-overlay {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 15%;
    bottom: 40%;
    z-index: 3; /* Ensure the overlay is above the video */
}

.container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.text-con {
    border-top: 2px solid transparent; 
    border-bottom: 2px solid transparent; 
    padding: 1px 0; /* Adjust the top and bottom padding */
    margin: 0; 
    width: calc(100% - 10px);
    font-size: 50px;
    color: black;
    -webkit-text-stroke: 1px black;
    transition: all 0.3s ease;
}

.text-con.hover-change {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.text-trigger {
    cursor: pointer;
    width: 101%;
    box-sizing: border-box;
    margin: 0;
}

.text-trigger:hover .text-con {
    border-top-color: black;
    border-bottom-color: black;
}

.box-container {
    flex: 1;
    position: relative;
}

/* Link styles */
a {
    position: relative;
    font-size: 40px;
    color: #333;
    font-weight: 100;
    text-decoration: none;
    
}

a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #333;
    border-radius: 50px;
    transition: width 0.3s ease;
}

a:hover:before {
    width: 100%;
}

/* Exclude hover effect from the specific button */
.oval-button:hover:before {
    width: 0;
    transition: none;
}

/* Social media styles */
#socials {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
}

.socials-container {
    max-width: 600px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
}

.socials-container img {
    width: 100px; 
    height: auto;
    cursor: pointer; 
    vertical-align: middle; 
}
